@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  @apply bg-bg dark:bg-darkBg;
  font-family: "Plus Jakarta Sans", sans-serif;
}
