@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  @apply bg-bg dark:bg-darkBg;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-mono;
}
